  
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap');


.App {
  margin: 50px auto;
  padding: 16px;
  min-height: 580px;
  max-width: 500px;
  background-color:pink;
  background-image: radial-gradient(grey 7.2%, transparent 0);
  background-size: 40px 40px;
  border-radius: 20px;
  box-shadow: 4px 3px 4px 3px #00000040;
  font-family: "Architects Daughter", sans-serif;
}


.todo-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 40px;
}

.todo-form button{
  height: 50px;
  width: 50px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 0;
 
}

.todo-form input{
  height: 50px;
  width: 150px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 0;
  
}

li {
  text-align: center;
 
}

h1 {
  text-align: center;
  padding-bottom: 40px;
  color: black;
  font-weight: bolder;
}

.todo-checkbox{
   display:flex;
}

.todo-align{
  color:black;
  margin-right: 20px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.todo-checkbox button{
  border-radius:75%;
  margin-left: 12px;
}

.todo-checkbox input{
  margin-right: 20px;
  margin-top: 12px;
  color: black;
}

