.App {
  text-align: center;
}

.todo-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 40px;
}

li {
  text-align: initial;
}
h1 {
  text-align: center;
  padding-bottom: 40px;
}

.todo-checkbox{
   display:flex;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.todo-checkbox button{
  border-radius:75%;
  margin-left: 12px;
  
}

.todo-checkbox input{
  margin-right: 20px;
  margin-top: 12px;

}